.body-color{
    margin: 0;
    background-color: rgb(255, 252, 249);
}
.first-section{
    display: flex;
}
.first-sec-half{
    width: 50%;
}
.first-section img{
    width: 90%;
    margin-left: 2em;
}
.mission-details {
    text-align: justify;
    width: 40%;
    margin-left: 10em;
    margin-top: 7em;
}
.vertical-line{
    border-left: 4px solid rgb(245, 87, 87);
    border-radius: 4px;
    padding-left: 20px;
}
.mission-title{
    font-size: 60px;
}
#mt-1{
    color: rgb(95, 88, 88);
}
#mt-2{
    color: rgb(255, 158, 40);
}
.anchor-button{
    margin-top: 10px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    background-color: rgb(245, 87, 87);
    padding: 10px 40px ;
}
.fontfamily{  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ss-title{
    text-align: center;
    font-size: 58px;
}
.ss-titile1{
    color: rgb(2, 3, 94);
}
.ss-titile2{
    color: rgb(255, 158, 40);
}
.mission-box{
    display: flex;
    margin: 0 150px;
}
.mission-box div img{
    width: 40%;
}
.mission-box div h3{
    font-size: 25px;
}
.mission-box div p{
    font-size: 16px;
}
.mvg-details{
    width: 30%;
    height: 20em;
    padding: 30px;
    border-radius: 32px;
}
.mission{
    background-color: rgb(220, 236, 255);
}
.vission{
    margin-left: 20px;
    background-color: rgb(255, 228, 219);
}
.goals{
    margin-left: 20px;
    background-color: rgb(255, 238, 214);
}
.third-section{
    display: flex;
    margin-top: 120px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 16em;
    background-position: 50px 60px;
}
.tsec-half{
    width: 50%;
}
.tsec-half img{
    width: 60%;
    margin-left: 10em;
}
.right-half{
    margin-right: 50px;
}
.tsec-title{
    font-size: 62px;
}
.tsec-details{
    text-align: justify;
}
.fourth-section{
    display: flex;
    margin-top: 120px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 16em;
    background-position: right;
}
.left-half{
    margin-left: 80px;
}
#about-detils{
    margin-right: 120px;
}
.bonus-part{
    height: 100px;
    background-color: rgb(48, 43, 43);
}
.bonus-title{
    text-align: center;
    color: rgb(35, 175, 35);
}
.form{
    text-align: center;
}
#form-input{
    border-radius: 4px;
}
#bonus-button{
    border-radius: 4px;
    background-color: rgb(202, 10, 10);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer{
    width: 100%;
    height: 10em;
    margin-top: 20px;
    background-color: #010b36;
}
.footer-title{
    color: aliceblue;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}
#footeryear{
    color: rgb(160, 1, 88);
}
.footer-details{
    color: whitesmoke;
    margin-top: 70px;
    text-align: center;
}